pkg/*/pkg
pkg/*/src
repo/
*.zip

### Package files

# Archives
pkg/*/*.zip
pkg/*/*.zip.part
pkg/*/*.zst
pkg/*/*.[Tt][Aa][Rr].[Gg][Zz]
pkg/*/*.[Tt][Aa][Rr].[Xx][Zz]

# Binaries
pkg/*/*.[Rr][Uu][Nn]

# Binaries - Java
pkg/*/*.jar
pkg/*/*.war

# Others
pkg/*/*.[Tt][Xx][Tt]
