[Desktop Entry]
Encoding=UTF-8
Name=SokoGrump
Type=Application
Exec=/home/USERGOESHERE/.sokogrump/SokoGrump.exe
Icon=sokogrump
StartupWMClass=SokoGrump
Categories=Game;
